body {
    max-width: 612px;
    margin: auto;
    padding: 50px;
    background-color: khaki;
    color: dodgerblue;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

img {
    max-width: 256px;
    display: block;
    margin: 0 auto;
}

a {
    color: #f8577c;
    text-decoration: none;
}

p {
    font-style: italic;
}

#non-it {
    font-style: normal;
}
