body {
    background-color: khaki;
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    max-width: 512px;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: palegoldenrod;
    color: dodgerblue;
    border-radius: 20 px;
    box-shadow: 0 .5em 1em rgba(0,0,0,0.3);    
}

h1, h2, h4 {
    text-align: center;
}

a {
    color: #f8577c;
    text-decoration: none;
}

#info {
    font-style: italic;
}

img {
     border:solid 2px;
     border-color: dodgerblue;
     max-height:256px;
     margin: auto;
     display: block;
}

