body {
    max-width: 512px;
    margin: auto;
    background-color: palegoldenrod;
    color: dodgerblue;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    max-width: 256px;
    display: block;
    margin: 0 auto;
}

a {
    color: mediumspringgreen;
}
